{{body}}

<!-- Navbar -->
<navbar>
  <div class="container">
    <br>
    <a href="/cadastrados"><button class="btn-bottom">VOLTAR</button></a>
    <hr>
    <h2 class="tituloP mb-3 card-header text-center">Cadastrar calendário: </h2>

  </div>
</navbar>

<!-- Seleciona calendário a cadastrar -->
<div class="container text-center col-lg-4 col-md-6 col-sm-8">

  <form action="/cadastrando" method="POST">
    <div class="card-body text-dark">
      <div class="row">
        <table class="table table table-bordered">
          <thead>
            <tr>
              <th scope="col">ANO</th>
              <th scope="col">SEMESTRE</th>
              <th scope="col">CADASTRAR</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <input name="ano" type="integer" class="form-control numerico text-center" placeholder="aaaa" required="required"
                  aria-describedby="anoHelpBlock">
              </td>
              <td>
                <div class="dropdown">
                  <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown">escolher
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu text-center">
                    <li><a href="/edit/{{ano}}{{id}}" name="semestre" class="menu">1º semestre</a></li>
                    <li><a href="/edit/{{ano}}{{id}}" name="semestre" class="menu">2º semestre</a></li>
                  </ul>
                </div>
                
                <!-- input name="semestre" type="integer" class="form-control text-center" required="required"
                  aria-describedby="semestreHelpBlock" -->
              </td>
              <td><a href="/edit/{{ano}}{{id}}"><button class="btn-bottom">CADASTRAR</button></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </form> <!-- Fim do Formulário -->
</div> <!-- Fim do Container formulário -->
<br><br><br>



<!-- Estrutura do calendário -->
<div class="container text-center col-lg-6 col-md-8 col-sm-10">
  <table class="table table table-bordered card-header-estrutura">
    <thead>
      <tr class="diaSemana">
        <th scope="col">Domingo</th>
        <th scope="col">Segunda</th>
        <th scope="col">Terça</th>
        <th scope="col">Quarta</th>
        <th scope="col">Quinta</th>
        <th scope="col">Sexta</th>
        <th scope="col">Sábado</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>